html, body {
    margin: 0;
    font-family: monospace;
    background: #19242F;
    color: #ddd;
}

body {
    padding-bottom: 100px;
}


/* NAV */

.readmejs-nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px 15px 10px 5px;
    background: #555A5F;
    border-bottom-left-radius: 2px;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9;
}

.readmejs-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.readmejs-nav li {
    padding-left: 12px;
}

.readmejs-nav-clickable {
    padding: 6px 0;
    cursor: pointer;
}

.readmejs-nav-clickable:hover {
    text-decoration: underline;
}

.readmejs-nav-dir-name {
    color: #afd1f3;
}

.readmejs-nav-dir-contents {
    display: none;
}

.readmejs-nav-file-name {

}

.readmejs-nav-hidden {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    padding: 3px 6px;
    background: #555A5F;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 9;
}

.readmejs-nav-hide {
    position: absolute;
    left: -20px;
    top: 0;
    padding: 3px 6px;
    background: #555A5F;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    color: #aaa;
    cursor: pointer;
}


/* INFO */

.readmejs-info {
    height: 40px;
    padding: 20px 4%;
    background: #333;
    margin-bottom: 20px;
    white-space: nowrap;
}

.readmejs-info-name {
    display: inline;
    font-size: 32px;
    letter-spacing: 1px;
}

.readmejs-info-version {
    display: inline;
    margin-left: 5px;
    font-size: 20px;
}


/* MODULES */

.readmejs-modules {
    padding: 0 4%;
}

.readmejs-module-name {
    font-size: 28px;
    margin: 70px 0 5px 0;
}

.readmejs-module-path {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    font-style: italic;
    color: #92b2d0;
}

.readmejs-module-comments {
    margin: 20px;
    color: #777;
    font-style: italic;
}


/* API */

.readmejs-api {
    position: relative;
    margin: 10px 10px 15px 10px;
    padding: 10px;
    border-radius: 2px;
}

.readmejs-api-method {
    border: 1px solid #686f75;
    background: #31404e;
}

.readmejs-api-property {
    border: 1px solid #708885;
    background: #344c4a;
}

.readmejs-api-literal {
    border: 1px solid #777;
    background: #424242;
}

.readmejs-api-type {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    font-style: italic;
    color: #999;
}

.readmejs-api-name {
    display: none;
}

.readmejs-api-signature {
    font-size: 20px;
}

.readmejs-api-comments {
    margin: 10px;
    color: #999;
    font-style: italic;
}

.readmejs-api-comments div {
    min-height: 8px;
}

.readmejs-api-value {
    margin: 10px;
}


/* PARAMS */

.readmejs-api-params:not(:empty)::before {
    content: 'Params';
    display: block;
    margin: 0 0 10px -10px;
    font-size: 16px;
}

.readmejs-api-params {
    display: table;
    border-collapse: collapse;
    margin: 20px 0 20px 20px;
}

.readmejs-params-headers {
    display: table-row;
    font-style: italic;
    color: #d0c19e;
}

.readmejs-param {
    display: table-row;
}

.readmejs-param-header-name, .readmejs-param-header-type, .readmejs-param-header-description,
.readmejs-param-name, .readmejs-param-type, .readmejs-param-description {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
}

.readmejs-param-description {
    font-size: 0.875em;
}

.readmejs-param-type {
    font-size: 0.875em;
    font-style: italic;
}

.readmejs-api-returns:not(:empty)::before {
    content: 'Returns';
    display: block;
    margin: 0 0 10px -10px;
    font-size: 16px;
    color: #ddd;
}

.readmejs-api-returns {
    margin: 20px 0 5px 20px;
    font-style: italic;
    color: #999;
}


/* RESPONSIVE */

@media (max-width: 650px) {
    .readmejs-nav {
        display: none;
    }
}
